@tailwind base;
@tailwind components;
@tailwind utilities;

table {
  @apply w-full;
}
th {
  @apply h-12 px-6 text-sm font-medium border-l  text-slate-700 bg-slate-100;
}
tr {
  @apply h-12 px-6 text-sm transition duration-300 border-t border-l first:border-l-0  stroke-slate-500 text-slate-500;
  background-color: white;
}
td {
  @apply h-12 px-6 text-sm transition duration-300 border-t border-l first:border-l-0  stroke-slate-500 text-slate-500;
}

button.primary {
  @apply px-4 py-2 text-white rounded-lg shadow-md bg-indigo-500  hover:bg-indigo-700 disabled:bg-gray-300;
}

button.secondary {
  @apply px-4 py-2 text-white rounded-lg shadow-md bg-gray-500  hover:bg-gray-700 disabled:bg-gray-300;
}

label {
  @apply flex flex-col;
}

input,
select {
  @apply px-2 py-1 border border-indigo-300 rounded-lg focus:outline-indigo-700;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('/fondo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(27, 26, 26);
  height: 100%;
}
